{% extends 'base/base.html' %}
{% load staticfiles%}


<!----{% for publication in publications %}
    <h1>{{publication.name}}</h1>
{% endfor %} -->




{%block content%}
<body>
     <!-- Main content -->
  <div class="main-content">
      
        <!-- Header -->
        
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({% static 'img/theme/photo-1550745165-9bc0b252726f.jpeg'%}); background-size: cover; background-position: center top;">
          <!-- Mask -->
          <span class="mask bg-gradient-default opacity-8"></span>
          <!-- Header container -->
          <div class="container-fluid d-flex align-items-center">
            <div class="row">
              <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello {{current_user.username}}</h1>
                <p class="text-white mt-0 mb-5">Este es tu perfil de usuario, aquí podrás ver tu información y el avance de tus proyectos</p>
                <a href="#!" class="btn btn-info">Edit profile</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
          <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="#">
                        {%if current_user.username == "Ronaldinho"%}
                        <img src="{% static 'img/theme/r10.png' %}" class="rounded-circle">
                        {%else%}
                        <img src="{% static 'img/theme/personal-user-illustration-@2x.png' %}" class="rounded-circle">
                        {%endif%}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                  <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                    <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <div>
                          {%for i in "x"|ljust:current_user.calification%}
                            <label for="radio1">★</label>
                          {%endfor%}

                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>
                      {{current_user.username}}<span class="font-weight-light">, {{age}}</span>
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>{{current_user.city}} , {{current_user.country}}
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>{{current_user.degree}}
                    </div>
                    <div>
                      <i class="ni education_hat mr-2"></i>{{current_user.education}}
                    </div>
                    <hr class="my-4" />
                    <p>{{current_user.about_me}}</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 order-xl-1">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Proyectos actuales</h3>
                    </div>
                    <div class="col-4 text-right">
                      <a href="{% url 'users:new_publication' %}" class="btn btn-sm btn-primary">Publicar</a>
                    </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Proyecto</th>
                              <th scope="col">Freelancer</th>
                              <th scope="col">Avance</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            {% for p in publications %}
                            <tr>
                              <th scope="row">
                                {{p.name}}
                              </th>
                              <td>
                                {{p.freelancer}}
                              </td>
                              <td>
                                  <div class="d-flex align-items-center">
                                      <span class="mr-2">{{p.progress}} %</span>
                                      <div>
                                        <div class="progress">
                                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{p.progress}}%;"></div>
                                        </div>
                                      </div>
                                    </div>
                              </td>
                              <td>
                                <th> <a href="/users/publication/{{p.id}}/" class="btn btn-sm btn-primary">Ver</a> </th>
                              </td>
                            </tr>
                            {% endfor %}
                           
                            
                            
                          </tbody>
                        </table>
    
                  </div>
                </div>
                
              </div>
              <!--Skilss-->
               <!-- Projects table -->
              
               
            </div>
            
            
          </div>
          <!-- Footer -->
          <footer class="footer">
           
          </footer>
        </div>
      </div>
    
</body>

{%endblock%}

